PORT=3001

INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=medusse-admin-token-2025
INFLUXDB_ORG=iescelia
INFLUXDB_BUCKET=sensors

MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=medusse_user
MYSQL_PASSWORD=medusse2025
MYSQL_DATABASE=medusse_db
